[Unit]
Description=Razor Microkernel Agent trigger
After=network.target syslog.target nss-lookup.target

[Timer]
# Sixty seconds idle time between boot and running the agent the first time
# seems like a reasonable delay to me to allow updates to run.
OnBootSec=60
# ...and every fifteen seconds after we *finished* the last command.
OnUnitInactiveSec=15

[Install]
WantedBy=multi-user.target
